// variables
$theme-color: #333;
$main-bg: #f6f6f5;
$link-color: #990000;
$white-color: #fff;
$black-color: #000;
$text-color: #444;
$title-color: #333;
$input-color: #1f1f1f;
$input-border-color: #949494;
$footer-text-color: #888;
$footer-link-color: #fff;


// display size
$wide-screens: 1200px;
$desktops: 992px;
$tablet: 768px;
$phones: 480px;

// media queries
@mixin wide-screens {
  @media (max-width: #{$wide-screens}) {
    @content;
  }
}
@mixin desktops {
  @media (max-width: #{$desktops}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}
@mixin phones {
  @media (max-width: #{$phones}) {
    @content;
  }
}

@mixin radius($radius...){
  -moz-border-radius:    $radius;
  -o-border-radius:      $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

body {
  padding: 0;
  margin: 0;
  border-top: 3px solid $theme-color;
  background: $main-bg;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  input {
    outline: none;
  }
}

.clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

//header
.main-header {
  padding: 15px 0;
}
.logo {
  float: left;
  .logo-title {
    margin: 0;
    line-height: 50px;
    a {
      display: inline-block;
      height: 50px;
      color: $black-color;
      padding: 0 0 0 70px;
      background: url(../images/logo.png) left center no-repeat;
    }
  }
}

.header-menu {
  float: right;
}
.menu {
  li {
    float: left;
    margin-left: 15px;
    a {
      color: $black-color;
      font-size: 18px;
      &:hover {
        color: $link-color;
      }
    }
  }
}

// nav
.main-nav {
  background: $black-color;
  padding: 15px 0;
  .menu {
    float: left;
    li {
      float: left;
      padding-bottom: 4px;
      border-bottom: 1px solid transparent;
      a {
        color: $white-color;
        margin-right: 15px;
        font-size: 20px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .search-box {
    float: right;
    position: relative;
    .search {
      background: $input-color;
      border: 1px dashed $input-border-color;
      padding: 5px 30px 8px 8px;
      color: $white-color;
      &:active {
        outline: none;
      }
    }
    .label-search {
      position: absolute;
      top: 5px;
      right: 8px;
      width: 18px;
      height: 18px;
      background: url(../images/search.png) center no-repeat;
      cursor: pointer;
    }
  }
}

// content
.content {
  padding: 25px 0;
}

.left-side {
  margin-right: 500px;
  overflow: hidden;
  .main-article {
    border-top: 2px solid $black-color;
    padding-bottom: 50px;
    h2 {
      text-transform: uppercase;
    }
    .article-info {
      border-top: 1px dashed $black-color;
      border-bottom: 1px dashed $black-color;
      padding: 8px 0;
      .user-name {
        color: $black-color;
        font-style: italic;
        &:hover {
          color: $theme-color;
        }
      }
      .comments-count {
        float: right;
      }
    }
  }
  // article-box
  .article-box {
    margin-top: 30px;
    .article-img {
      width: 220px;
      float: left;
      img {
        padding: 2px;
        border: 1px solid $theme-color;
      }
    }
    .article-text {
      margin-left: 250px;
      overflow: hidden;
      font-size: 18px;
      p {
        margin: 0;
      }
      .read-more {
        margin-top: 40px;
        a {
          color: $link-color;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.right-side {
  width: 450px;
  float: right;
  background: #949494;
  border-top: 2px solid $black-color;
}

