body {
  padding: 0;
  margin: 0;
  border-top: 3px solid #333;
  background: #f6f6f5; }
  body ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  body a {
    text-decoration: none; }
  body input {
    outline: none; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both; }

.container {
  width: 80%;
  margin: 0 auto; }

.main-header {
  padding: 15px 0; }

.logo {
  float: left; }
  .logo .logo-title {
    margin: 0;
    line-height: 50px; }
    .logo .logo-title a {
      display: inline-block;
      height: 50px;
      color: #000;
      padding: 0 0 0 70px;
      background: url(../images/logo.png) left center no-repeat; }

.header-menu {
  float: right; }

.menu li {
  float: left;
  margin-left: 15px; }
  .menu li a {
    color: #000;
    font-size: 18px; }
    .menu li a:hover {
      color: #990000; }

.main-nav {
  background: #000;
  padding: 15px 0; }
  .main-nav .menu {
    float: left; }
    .main-nav .menu li {
      float: left;
      padding-bottom: 4px;
      border-bottom: 1px solid transparent; }
      .main-nav .menu li a {
        color: #fff;
        margin-right: 15px;
        font-size: 20px; }
        .main-nav .menu li a:hover {
          text-decoration: underline; }
  .main-nav .search-box {
    float: right;
    position: relative; }
    .main-nav .search-box span {
      color: #fff;
      font-style: italic;
      font-size: 15px;
      margin-right: 10px; }
    .main-nav .search-box .search {
      background: #1f1f1f;
      border: 1px dashed #949494;
      padding: 5px 30px 8px 8px;
      color: #fff;
      font-style: italic; }
      .main-nav .search-box .search:active {
        outline: none; }
    .main-nav .search-box .label-search {
      position: absolute;
      top: 5px;
      right: 8px;
      width: 18px;
      height: 18px;
      background: url(../images/search.png) center no-repeat;
      cursor: pointer; }

.content {
  padding: 25px 0; }

.left-side {
  margin-right: 500px;
  overflow: hidden; }
  .left-side .main-article {
    border-top: 2px solid #000;
    padding-bottom: 50px; }
    .left-side .main-article h2 {
      text-transform: uppercase; }
    .left-side .main-article .article-info {
      border-top: 1px dashed #000;
      border-bottom: 1px dashed #000;
      padding: 8px 0; }
      .left-side .main-article .article-info .user-name {
        color: #000;
        font-style: italic; }
        .left-side .main-article .article-info .user-name:hover {
          color: #333; }
      .left-side .main-article .article-info .comments-count {
        float: right; }
  .left-side .article-box {
    margin-top: 30px; }
    .left-side .article-box .article-img {
      width: 220px;
      float: left; }
      .left-side .article-box .article-img img {
        padding: 2px;
        border: 1px solid #333; }
    .left-side .article-box .article-text {
      margin-left: 250px;
      overflow: hidden;
      font-size: 18px; }
      .left-side .article-box .article-text p {
        margin: 0; }
      .left-side .article-box .article-text .read-more {
        margin-top: 40px; }
        .left-side .article-box .article-text .read-more a {
          color: #990000;
          text-transform: uppercase; }
          .left-side .article-box .article-text .read-more a:hover {
            text-decoration: underline; }

.right-side {
  width: 450px;
  float: right; }
  .right-side section {
    border-top: 2px solid #000;
    margin-bottom: 30px; }
    .right-side section h3 {
      border-bottom: 1px solid #000;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 10px 0; }
      .right-side section h3 a {
        color: #000; }
    .right-side section p {
      font-style: italic;
      font-size: 16px; }
  .right-side .aside-article {
    padding: 25px 0 0 0;
    cursor: pointer; }
    .right-side .aside-article:hover h4 {
      text-decoration: underline; }
    .right-side .aside-article:hover p {
      text-decoration: underline; }
    .right-side .aside-article a {
      color: #000; }
    .right-side .aside-article .article-img {
      width: 84px;
      float: left; }
      .right-side .aside-article .article-img img {
        padding: 2px;
        border: 1px solid #333; }
    .right-side .aside-article .article-text {
      margin-left: 100px;
      overflow: hidden; }
    .right-side .aside-article h4 {
      margin: 0; }
    .right-side .aside-article p {
      margin: 5px 0 0 0; }

/*# sourceMappingURL=main.css.map */
